<div class="container">
	<% if user_signed_in? %>	
	<!-- Start Homepage -->

	<div id="homepage">
		
		<div class="sixteen columns">
			<h1><span>Manga<br /></span>Works</h1>
			<h3><span class="small">YOUR</span> <span class="smallBold">Online</span>

				<br><span class="medium">DATABASE</span> <span class="mediumBold">FOR</span>
				<br><span class="large">ONLINE</span> <span class="largeBold">Reading</span>
			</h3>
		</div>
		
	</div>
	<!--End homepage -->
	<% else %>
	<!-- Start Homepage -->
	<div id="homepage">
		
		<div class="sixteen columns">
			<h1><span>Manga<br /></span>Works</h1>
			<h3><span class="small">YOUR</span> <span class="smallBold">Online</span>

				<br><span class="medium">DATABASE</span> <span class="mediumBold">FOR</span>
				<br><span class="large">ONLINE</span> <span class="largeBold">Reading</span>
			</h3>
		</div>
		
	</div>
	<!--End homepage -->
	<% end %>
</div>
