<div class="hero-unit">
<h1>Pages#mwhome</h1><br />
<p> <%= link_to "Sign up Now!", "#", class: "btn btn-large btn-primary" %></p>
</div>
<!-- <div class="row">
	<div class="span4">
		<h1>Navigation Bar</h1>
	</div>
	<div class="span8">
		<h1>Pages#mwhome</h1>
		<p>Find me in app/views/pages/mwhome.html.erb</p>
	</div>
</div> -->