<% if user_signed_in? %>
	<div class="hero-unit">
	<h1>Your are Logged in!</h1>
	</div>
<% else %>
	<div class="hero-unit">
	<h1>Pages#mwhome</h1><br />
	<p> <%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %></p>
	</div>
<% end %>
<!-- <div class="row">
	<div class="span4">
		<h1>Navigation Bar</h1>
	</div>
	<div class="span8">
		<h1>Pages#mwhome</h1>
		<p>Find me in app/views/pages/mwhome.html.erb</p>
	</div>
</div> -->